#Programs
bwa=/data/ngs/bin/bwa/0.7.12/bwa
samtools=/data/ngs/bin/samtools/1.3.1/bin/samtools
picard=/data/ngs/bin/picard/2.10.9/picard.jar
bedTools=/data/ngs/bin/bedtools/2.26.0/bin
vcfTools=/data/ngs/bin/vcftools/0.1.12b/bin/vcftools
VEP=/data/ngs/bin/VEP/89/vep
snpEff=/data/ngs/bin/snpEff/4.3p/snpEff.jar
gemini=/data/ngs/bin/gemini/anaconda/bin/gemini
vtMaster=/data/ngs/bin/vt-master/vt
gatk=/data/ngs/bin/GATK/3.8.0/GenomeAnalysisTK.jar
bgzip=/data/ngs/bin/samtools/1.0/bin/bgzip
tabix=/data/ngs/bin/samtools/1.0/bin/tabix
platypus=/data/ngs/bin/platypus/bin/Platypus.py
freebayes=/data/ngs/bin/freebayes/bin/freebayes
vcfFilter=/data/ngs/bin/freebayes/vcflib/bin/vcffilter
fastQC=/data/ngs/bin/fastqc/0.11.5/fastqc



# References
hg19Fasta=/data/ngs/resources/bundle/2.8/ucsc.hg19.fasta
indelMills=/data/ngs/resources/bundle/2.8/Mills_and_1000G_gold_standard.indels.hg19.vcf
indel1kgp=/data/ngs/resources/bundle/2.8/1000G_phase1.indels.hg19.vcf
snps1kgp=/data/ngs/resources/bundle/2.8/1000G_phase1.snps.high_confidence.hg19.vcf
dbSNP=/data/ngs/resources/bundle/2.8/dbsnp_138.hg19.vcf
hapmap=/data/ngs/resources/bundle/2.8/hapmap_3.3.hg19.vcf
omni=/data/ngs/resources/bundle/2.8/1000G_omni2.5.hg19.vcf
bcftools=/data/ngs/bin/bcftools/1.1/bcftools
vepCache=/data/ngs/bin/VEP/cache


# misc
java=/dsk/localall/lib/java/jre1.8.0_131_x64/bin/java
tempDir=/tempdata/ge/temp/NextGP


# out folders
alignment=01-alignment
duplicates=02-duplicates
realignment=03-realignment
baseReacalibration=04-baseRecalibration
matrices=05-matrices
variantCalling=06-variantCalling
extractInd=07-extractIdividuals
annotation=07-annotation
database=08-database
filter=09-filter
